@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --secondary: #475569;
  --secondary-foreground: #ffffff;

  --tertiary: #10b981;
  --neutral: #f8fafc;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #09090b;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #2563eb;

  --radius: 0.5rem;
}

.dark {
  --background: #09090b;
  --foreground: #f4f4f5;

  --card: #121215;
  --card-foreground: #f4f4f5;

  --popover: #121215;
  --popover-foreground: #f4f4f5;

  --primary: #3b82f6;
  --primary-foreground: #ffffff;

  --secondary: #27272a;
  --secondary-foreground: #f4f4f5;

  --tertiary: #10b981;
  --neutral: #18181b;

  --muted: #18181b;
  --muted-foreground: #a1a1aa;

  --accent: #1e1e24;
  --accent-foreground: #f4f4f5;

  --destructive: #991b1b;
  --destructive-foreground: #f4f4f5;

  --border: #27272a;
  --input: #27272a;
  --ring: #3b82f6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Typography */
  --font-headline: Geist, sans-serif;
  --font-body: Geist, sans-serif;
  --font-label: "JetBrains Mono", monospace;
  --font-sans: Geist, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.15s ease, color 0.15s ease;
}